<a href="https://colab.research.google.com/github/ilmaan/One-Hot-Encoding-Using-Python/blob/main/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ONE HOT ENCODING

One Hot Encoding

In [1]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('test.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [22]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [15]:
for col in data.columns:
  print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels

In [18]:
pd.get_dummies(data, drop_first=True).shape

(4209, 121)

In [20]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

In [23]:
top10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [24]:
for label in top10:
  data[label] = np.where(data['X2']==label,1,0)

data[['X2']+top10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0    n   0   0   0  0   0  0  1  0  0  0
1   ai   0   0   1  0   0  0  0  0  0  0
2   as   1   0   0  0   0  0  0  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4   as   1   0   0  0   0  0  0  0  0  0
5   ai   0   0   1  0   0  0  0  0  0  0
6   ae   0   1   0  0   0  0  0  0  0  0
7   ae   0   1   0  0   0  0  0  0  0  0
8    s   0   0   0  0   0  0  0  1  0  0
9   as   1   0   0  0   0  0  0  0  0  0
10   s   0   0   0  0   0  0  0  1  0  0
11   b   0   0   0  0   0  0  0  0  0  0
12   e   0   0   0  0   0  0  0  0  0  1
13  ae   0   1   0  0   0  0  0  0  0  0
14  ak   0   0   0  0   1  0  0  0  0  0
15   e   0   0   0  0   0  0  0  0  0  1
16   s   0   0   0  0   0  0  0  1  0  0
17   e   0   0   0  0   0  0  0  0  0  1
18  ai   0   0   1  0   0  0  0  0  0  0
19  as   1   0   0  0   0  0  0  0  0  0
20   e   0   0   0  0   0  0  0  0  0  1
21   e   0   0   0  0   0  0  0  0  0  1
22  ai   0   0   1  0   0  0  0  0  0  0
23   e   0   0   0  0   0  0  0  0  0  1
24  ai   0   0   1  0   0  0  0  0  0  0
25   s   0   0   0  0   0  0  0  1  0  0
26   m   0   0   0  1   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28   m   0   0   0  1   0  0  0  0  0  0
29  as   1   0   0  0   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32  as   1   0   0  0   0  0  0  0  0  0
33   a   0   0   0  0   0  0  0  0  0  0
34  aq   0   0   0  0   0  0  0  0  0  0
35  as   1   0   0  0   0  0  0  0  0  0
36  ae   0   1   0  0   0  0  0  0  0  0
37  ak   0   0   0  0   1  0  0  0  0  0
38  ag   0   0   0  0   0  0  0  0  0  0
39  ae   0   1   0  0   0  0  0  0  0  0

In [25]:
def onehot(df,var,tox):
  for label in tox:
    df[var+'_'+label] = np.where(data[var]==label, 1, 0)

onehot(data,'X2',top10)

In [26]:
data.head()

  X1  X2 X3 X4 X5 X6  as  ae  ...  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0  v   n  f  d  t  a   0   0  ...      0     0      0     0     1     0     0     0
1  b  ai  a  d  b  g   0   0  ...      1     0      0     0     0     0     0     0
2  v  as  f  d  a  j   1   0  ...      0     0      0     0     0     0     0     0
3  l   n  f  d  z  l   0   0  ...      0     0      0     0     1     0     0     0
4  s  as  c  d  y  i   1   0  ...      0     0      0     0     0     0     0     0

[5 rows x 26 columns]